*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    --dark-red: #D90429;
    --mid-red: #F2495D;
    --mid-white: #EDF2F4;
    --dark-white: #8D99AE;
    --dark-black: #2b2d42;
    --mid-yellow: #FFE792;
}
h1, h2{
    text-align: center;
    margin: 20px 0;
}


body{
    background-color: #F6EDC3;
}

main{
    margin-top: 100px;
}
#game-container{
    height: 30rem;
    width: 30rem;

    padding: 0px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    gap: 6px;
    border: solid 6px white;
    border-radius: 5px;
}

.sq-item{
    background-color: var(--mid-white);
    border-radius: 5px;
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
}


.sq-item:hover{
    background-color: var(--mid-yellow);
}

.sq-disabled{
    pointer-events: none;
}

.diamond::after, .heart::after{
    font-family: 'Font Awesome 6 Free';
    font-size: 4rem;
    position: relative;
    margin: 0;
    padding: auto;
}

.diamond::after{
    content: '\f219';
    color: var(--dark-black);
}

.heart::after{
    content: '\f004';
    color: var(--dark-red);
}

#gameover{
    display: none;
    /* display: block; */
    margin: 20px  auto;
    background-color: white;
    width: 200px;
    max-width: 320px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;

}

#play-again{
    padding: .5rem 1.5rem;
    background-color: var(--mid-yellow);
    border-radius: 3px;
}

#play-again:hover{
    background-color: var(--mid-white);
}