#game-container{
    max-width: 320px;
    max-height: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.sq-item{
    border: solid 1px black;
    height: 100px;
    width: 100px;
    display: block;
    margin: 0px;
    padding: 0 auto;
    text-align: center;
}

.sq-item-placed{

}

#gameover{
    /* display: none; */
}